.carousel-item {
    height: 750px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.color-fondo {
    background-color: black;
}

.carousel-caption {
    color: black;
    font-family: 'Bebas Neue', cursive;
}

.lead {
    color: black;
}

.texto {
    margin-top: 15px;
}