.carousel-item {
    height: 750px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.color-fondo {
    background-color: black;
}

.carousel-caption {
    color: black;
    font-family: sans-serif;
}

.lead {
    color: black;
}

.texto {
    font-family: sans-serif;
    margin-top: 5px;
    font-style: normal;
}

.separacion_cards {
    margin-bottom: 32px;
    margin-top: 32px;
}